:root {
    --light-blue: #6eccf0;
    --light-green: #7cca42;
    --green: #4ea37b;
    --red: #da5f4d;
    --purple: #a95da7;
    --yellow: #ffca2a;
    --light: #e3e4e3;
    --dark: #7d8087;
    --brown: #5a311d;
    --border-radius: 0.3rem;
}


.App {
    background-color: var(--dark);
}

.name {
    font-size: 75px;
    color: var(--light-blue);
    text-align: center;
    font-size: 500%;
    line-height: 3.5;
    text-shadow: 4px 3px 15px var(--light-green);
    -webkit-text-stroke: 2px var(--brown);
    background-size: 85%;
    background-position: inherit;
}

* {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav {

    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: var(--purple);

}

button {

    font-size: 95%;
    font-weight: 300;
    line-height: 250%;
}

button:hover {
    background-color: var(--light-green);
    color: #a95da7;
}

#about {
    background-color: #a95da7;
    text-align: left;
    font-size: 140%;

}

#card-1 {
    background-color: #ffca2a;
    display: block;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

#card-2 {
    background-color: #6eccf0;
}

#card-3 {
    background-color: #5a311d;
}

#card-4 {
    background-color: #da5f4d;
}

#card-5 {
    background-color: #4ea37b;
}

#contact {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    font-size: 34px;
    font-weight: 300;
    font-family: "Lucida Console", sans-serif;
    

}

#blue-text {
    font-size: x-large;
    font-style: oblique;
    color: #6eccf0;
    background-color: #5a311d;
}

#email {
    width: 25%;
    background-color: var(--light);
}

#linkedin {
    width: 50%;
    height: 50%;
    background-color: var(--yellow);

}

#github {
    width: 75%;
    background-color: var(--red);
   
}

#email:hover {
    background-color: var(--brown);
    
}

#linkedin:hover {
    background-color: var(--light-blue);
 
    
}

#github:hover {
    background-color: var(--purple);
}
.ResumeBtn, .aboutBtn, .portBtn, .contactBtn{
    background-color: #e3e4e3;
    width: 18%;
    opacity: 0.5;
    font-size: 25px;

}
.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  